@model DegreePlan.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.DegreeAbv) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeAbv) </dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeName) </dt>
        <dd>@Html.DisplayFor(model => model.DegreeName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DegreeCredits)  </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Number</th>
                    <th>DegereeId</th>
                </tr>
                @foreach (var item in Model.DegreeCredits.OrderBy(r => r.CreditId))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CreditId) </td>
                        <td>@Html.DisplayFor(modelItem => item.DegreeId) </td>
                       
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
