@model DegreePlan.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Degreeplans)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Degree</th>
                    <th>Plan Number</th>
                    <th>Plan Abbrev</th>
                    <th>Plan Name</th>
                    <th>Degree Status</th>
                    
                    <th>More</th>
                </tr>
                @foreach (var item in Model.Degreeplans.OrderBy(p => p.DegreeId))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreeplanId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreePlanAbv)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DegreePlanName)
                        </td>
                       
                        <td>
                            <a asp-action="Edit" asp-controller="Degreeplans" asp-route-id="@item.DegreeplanId">Plan</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>