@model IEnumerable<DegreePlan.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Family Name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FamilyNameSortParm"]">@Html.DisplayNameFor(model => model.FamilyName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GivenNameSortParm"]">@Html.DisplayNameFor(model => model.GivenName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SIDSortParm"]">@Html.DisplayNameFor(model => model.SID)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CatpawsidSortParm"]">@Html.DisplayNameFor(model => model.CatPawsID)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GivenName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CatPawsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Done)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
